.pitem {
  h2 {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 15px;
  }
  button {
    width: 50%;
    margin: 40px auto;
    display: block;
    padding: 7px 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

img.feature {
  width: 100%;
  margin: 20px;
}

// ----- Solido -----

.solido {
  padding-left: 20px;
}

.desktop, .mobile {
  float: left;
  padding: 10px;
  text-align: center;
  img {
    width: 100%;
  }
}

.desktop {
  width: 75%;
}

.mobile {
  width: 25%;
}