.skills {
  margin: 0 auto;
  padding: 50px 0;
  background: #ddd;
  text-align: center;
  .wrapper {
    width: 70%;
  }
  h2 {
    margin: 0 auto;
  }
}

.skill {
  width: 33.33%;
  float: left;
  h3 {
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.character {
  h2 {
    text-align: center;
  }
  .char {
    p {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cloudleft {
  0% {
    left: 0;
  }
  100% {
    left: -70px;
  }
}

@-webkit-keyframes sun {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

#Ebene_1 {
  .bigGear, .smallGear {
    transform-origin: 50% 50%;
    display: inline-block;
  }
  .bigGear {
    fill: red;
  }
  .smallGear {
    fill: blue;
  }
  &:hover {
    .smallGear {
      -webkit-animation: spin linear 3s infinite;
      animation: spin linear 3s infinite;
    }
    .bigGear, {
      -webkit-animation: spin linear 3s infinite reverse;    
    }
  }
}

#sun {
  width: 50px;
  position: relative;
  top: -5px;
  left: -50px;
  transition: all 1s;
}

#cloud {
  width: 85px;
  position: relative;
  z-index: 30;
  fill: #fff;
  transition: all 1s;
  left:0;
}

#cloud_ {
  stroke: black;
}

.positive {
  position: relative;
  display: inline-block;
}
.positive:hover {
  #cloud {
    // -webkit-animation: cloudleft linear 2s forwards;
    left:-70px;
  }
  #sun {
    // -webkit-animation: sun linear 2s forwards;
    transform:scale(1.5);
  }
}

#stopwatch {
  width: 80px;
}

#watchBell {
  fill: red;
}

#watchArm {
  fill: green;
  transform-origin: 6% 67%;
}

#stopwatch:hover {
  #watchArm {
    -webkit-animation: spin linear 3s infinite;
  }  
}