.skills {
  margin: 0 auto;
  padding: 50px 0;
  background: url("../images/abstract-balls.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #444;
  .wrapper {
    width: 70%;
    background: rgba(238,238,238,0.7);
    padding-top: 20px;
  }
  h2 {
    margin: 0 auto;
  }
}

.skill {
  width: 33.33%;
  float: left;
  h3 {
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.character {
  margin: 40px 0;
  h2 {
    text-align: center;
  }
  .char {
    width: 25%;
    float: left;
    p {
      margin: 0 auto;
      width: 90%;
      text-align: center;
    }
  }
}

.charIcons {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.svgContain {
  height: 100px;
}

.wave {
  width: 140px;
  position: relative;
  display: block;
  top: 0;
  left: calc(50% - 50px);
}

.per1, .per2, .per3 {
  fill: #fff;
  transition: all 0.8s;
}

.per {
  transition: all 0.8s;
}

.per1 {
  transition-delay: 0.5s;
}

.per3 {
  transition-delay: 1s;
}

 .wave:hover {
  .per {
    fill: $accentColour;
  }
  .per2 {
    fill: #000;
  }
  .per1 {
    fill: #000;
  }
  .per3 {
    fill: #000;
  }
 }

@-webkit-keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes bellRing {
  0% {transform: translateY(0);}
  50% {transform: translateY(-7px);}
  100% {transform: translateY(0);}
}

@-webkit-keyframes cloudleft {
  0% {left: 0;}
  100% {left: -70px;}
}

@-webkit-keyframes sun {
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

#gears {
  width: 100px;
  .bigGear, .smallGear {
    transform-origin: 50% 50%;
    display: inline-block;
    transition: all 1s;
  }
  &:hover {
    .smallGear {
      -webkit-animation: spin linear 3s infinite;
      animation: spin linear 3s infinite;
      fill: #F45825;
    }
    .bigGear, {
      -webkit-animation: spin linear 3s infinite reverse;    
      fill: $accentColour;
    }
  }
}

.sun {
  width: 50px;
  position: relative;
  top: -5px;
  left: -50px;
  transition: all 1s;
}

.innersun, .sunshine {
  transition: all 1s;
}

#cloud {
  width: 85px;
  position: relative;
  z-index: 30;
  fill: #fff;
  transition: all 1s;
  left:0;
}

#cloud_ {
  stroke: black;
}

.weather:hover {
  #cloud {
    left:-70px;
  }
  .sun {
    transform:scale(1.5);
    .sunshine {
      fill: #FFD933;
    }
    .innersun {
      fill: #F45825;
    }
  }
}

#stopwatch {
  width: 80px;
}

#watchArm {
  transform-origin: 29.25% 70.5%;
  transition: all 1s;
}

#stopwatch:hover {
  #watchArm {
    -webkit-animation: spin linear 3s infinite;
    fill: $accentColour;
  }
  #watchBell {
    -webkit-animation: bellRing linear 1.1s infinite;
    fill: #F45825;
  }
}

@media all and (max-width: 870px) {
  .character {
    .char {
      width: 50%;
      margin-bottom: 10px;
    }
  }
}

// @media (max-width: 788px) {
//   .character {
//     .char {
//       width: %;
//     }
//   }
// }

@media all and (max-width: 430px) {
  .character {
    .char {
      width: 100%;
    }
  }
}