.skills {
  margin: 0 auto;
  padding: 50px 0;
  background: #ddd;
  text-align: center;
  .wrapper {
    width: 70%;
  }
  h2 {
    margin: 0 auto;
  }
}

.skill {
  width: 33.33%;
  float: left;
  h3 {
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
}

.character {
  h2 {
    text-align: center;
  }
  .char {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    p {
      margin: 0;
      text-align: center;
    }
  }
}
.charIcons {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#waver {
  position: relative;
}

.wave {
  width: 100px;
  position: relative;
  display: block;
  top: 0;
  left: calc(50% - 50px);
}

#pos1 {
  position: relative;
}

#pos2 {
  display: none;
}

#pos3 {
  display: none;
}

#pos4 {
  display: none;
}



@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cloudleft {
  0% {
    left: 0;
  }
  100% {
    left: -70px;
  }
}

@-webkit-keyframes sun {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes bellRing {
  0% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

#gears {
  width: 100px;
  .bigGear, .smallGear {
    transform-origin: 50% 50%;
    display: inline-block;
  }
  .bigGear {
    fill: red;
  }
  .smallGear {
    fill: blue;
  }
  &:hover {
    .smallGear {
      -webkit-animation: spin linear 3s infinite;
      animation: spin linear 3s infinite;
    }
    .bigGear, {
      -webkit-animation: spin linear 3s infinite reverse;    
    }
  }
}

#sun {
  width: 50px;
  position: relative;
  top: -5px;
  left: -50px;
  transition: all 1s;
}

#cloud {
  width: 85px;
  position: relative;
  z-index: 30;
  fill: #fff;
  transition: all 1s;
  left:0;
}

#cloud_ {
  stroke: black;
}

.positive:hover {
  #cloud {
    // -webkit-animation: cloudleft linear 2s forwards;
    left:-70px;
  }
  #sun {
    // -webkit-animation: sun linear 2s forwards;
    transform:scale(1.5);
  }
}


#stopwatch {
  width: 80px;
}

#watchBell {
  fill: orange;
  position: absolute;
  // -webkit-transform: translateY(-10px);
  z-index: 9999;
}


#watchArm {
  fill: green;
  transform-origin: 29.25% 70.5%;
}

#stopwatch:hover {
  #watchArm {
    -webkit-animation: spin linear 3s infinite;

  }
  #watchBell {
    -webkit-animation: cloudLeft linear 1.5s infinite;
  }
}