#test {
  background: yellow;
  background-size: cover;
  width: 1400px;
  height: 100%;
  #triangle-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
    position: absolute;
    z-index:110;
    top: 0;
    margin-top: -110px;
    left: 50%;
    margin-left: -100px;
  }
  #triangle-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #007bff transparent transparent transparent;
    position: absolute;
    z-index:110;
    top: 0;
    margin-top: 179px;
    left: 50%;
    margin-left: -100px;
  }
  #triangle-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 100px 0;
    border-color: transparent #007bff transparent transparent;
    position: absolute;
    z-index:110;
    top: 0;
    margin-top: 179px;
    left: 50%;
    margin-left: -100px;
  }
  .diamond {
    background: #ddd;
    &:hover #triangle-up{
      top: -50px;
    }
  }
}


