// ----- Font Import -----
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Source+Serif+Pro:400,700);

$baseFont: 'Source Sans Pro', sans-serif;
$headingsFont: 'Source Serif Pro', serif;
$fontSize: 1.6em;
$fontWeight: 300;
$fontColour: #333;
$inverseColour: #efefef;

$primaryColour: #81B89D;
$secondaryColour: #FE6A14;
$successColour: #759DA7;
$errorColour: #EB4B4D;
$sectionColour: #3A3736;

$accentColour: #A9CC66;

$dHeight: 275px;
$socialHeight: 50px;

$headerColour: #444;
$headerFont: #fff;
$headerHover: #A9CC66;

$footerColour: #444;
$iconColour: #444;
$footerHover: #A9CC66;

// ----- Partials -----
@import "starter";
@import "about";
@import "skills";
@import "portfolio";
@import "piece";
@import "footer";
@import "test";

// ----- General Layout -----
body {
  color: $fontColour;
  font-family: $baseFont;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

h1,h2,h3,h4,h5 {
  font-family: $headingsFont;
  margin: $fontSize*1.4 0;
}

h2 {
  width: 400px;
  margin: 42px auto;
  border-bottom: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background:#000;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -3px;
    border-top: none;
    border-left: none;
  }
}

p {
  line-height: $fontSize*1.1;
  margin: $fontSize*0.5 0;
}

a {
  color: $primaryColour;
  text-decoration: none;
 }

 ul {
  padding-left: 30px;
 }

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.col-1-3 {
  width: 33.33%;
  float: left;
}

.col-2-3 {
  width: 66.66%;
  float: left;
}

.overlay {
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.3;
  overflow: hidden;
}

// ----- Navigation -----
header {
  background: $headerColour;
  position: relative;
  z-index: 101;
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 15px;
    a {
      color: $headerFont;
      display: inline-block;
      text-transform: uppercase;
      &:hover {
        color: $headerHover;
      }
    }
  } 
}

#contact {
  position: absolute;
  color: #fff;
  right: 50px;
  border: 1px solid #fff;
  top: 10px;
  padding: 3px 5px;
  font-weight: bold;
  transition: all 0.5s;
  svg {
    width: 17px;
    position: relative;
    top: 2px;
    .darrow {
      fill: #fff;
    }
  }
  &:hover {
    background: #fff;
    color: #444;
    .darrow {
      fill: #444;
    }
  }
}

// ----- Home -----

.home {
  background: url('../images/abandoned-forest-industry2.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 160px 0 200px 0;
  background-position: center center;
}

.container{
  position: relative;
}
.diamond {
  z-index: 95;
  width: 275px;
  height: 275px;
  background: #333;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 137.5px);
  left: calc(50% - 137.5px);
  opacity: 0.7;
}

.intro {
  z-index: 100; 
  position: relative;
  text-align: center;
  color: #fff;
  h1 {
    margin: 0;
    font-size: $fontSize*1.9;
    // line-height: $fontSize*0.8;
  }

  h3 {
    margin: 0;
    font-size: $fontSize*1.2;
  }

  p {
    margin: 0;
    font-size: $fontSize*0.8;
    line-height: $fontSize*0.9;
  }
}


.person {
  fill: $accentColour;
}