// ----- Font Import -----
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Source+Serif+Pro:400,700);

$baseFont: 'Source Sans Pro', sans-serif;
$headingsFont: 'Source Serif Pro', serif;
$fontSize: 1.6em;
$fontWeight: 300;
$fontColour: #333;
$inverseColour: #efefef;

$primaryColour: #81B89D;
$secondaryColour: #FE6A14;
$successColour: #759DA7;
$errorColour: #EB4B4D;
$sectionColour: #3A3736;

$dHeight: 275px;
$socialHeight: 50px;

// ----- Partials -----
@import "starter";
@import "skills";
@import "portfolio";
@import "piece";
@import "footer";
@import "test";


// ----- General Layout -----
body {
  color: $fontColour;
  font-family: $baseFont;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

h1,h2,h3,h4,h5 {
  font-family: $headingsFont;
  margin: $fontSize*1.4 0;
}

h2 {
  width: 400px;
  margin: 42px auto;
  border-bottom: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background:#000;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -3px;
    border-top: none;
    border-left: none;
  }
}

p {
  line-height: $fontSize*1.1;
  margin: $fontSize*0.5 0;
}

a {
  color: $primaryColour;
  text-decoration: none;
 }

 ul {
  padding-left: 30px;
 }

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: url(../images/overlay-pattern.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.3;
}

.col-1-3 {
  width: 33.33%;
  float: left;
}

.col-2-3 {
  width: 66.66%;
  float: left;
}

// ----- Navigation -----
header {
  background: #5B848E;
  position: relative;
  z-index: 101;
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 15px;
    a {
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      &:hover {
        color: red;
      }
    }
  } 
}

// ----- Home -----

.container{
  position: relative;
  margin: 160px 0;
}
.diamond {
  z-index: 95; 
  width: $dHeight;
  height: $dHeight;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - #{$dHeight/2});
  left: calc(50% - #{$dHeight/2});
}

.intro {
  z-index: 100; 
  position: relative;
  text-align: center; 
  h1, h3 {
    margin: 15px 0;
  }
  p {
    margin: 0;
  }
}

// ----- About -----
.col-1-2  {
  width: 50%;
  float: right;
}
.about { 
  background: #ddd;
  padding-bottom: 40px;
  h2 {
  width: 100%;
  text-align: left;
  }
}

.experience {
  h2 {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
}

.jobs {
  margin: 40px 0 60px 0;
}

.job {
  width: 50%;
  float: left;
  margin-bottom: 30px;
  padding-right: 20px;
  img {
    float: left;
    margin-right: 10px;
  }
  h3, h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    text-align: left;
  }
}